<div class='container'>
 <div class='row'>

    <h2 class='center'>Restaurante Universitário - UENF</h2>
    <p class="justify">
      Cardápio válido do dia: 26 de abril 2015 à 31 de abril de 2015
    </p>

    <ul>
      <% @menus.each do |menu| %> 
          <li>
            Data:<%= menu.date %>|
            MenuId:<%= menu.id %>|
            Lunch-MenuID<%= menu.lunch.menu_id %>
            LunchID<%= menu.lunch.id %>|
            Salad: <%= menu.lunch.salad %>
          </li> 
      <% end %>
    </u>
 
    
 </div>
</div>


<div class="bs-example" data-example-id="striped-table">
    <table class="table table-bordered ">
      <thead class="bg-primary">
        <tr>
          <th>Almoço</th>
          <th class="center">Segunda-feira</th>
          <th class="center">Terça-feira</th>
          <th class="center">Quarta-feira</th>
          <th class="center">Quinta-feira</th>
          <th class="center">Sexta-feira</th>
        </tr>
      </thead>
      <tbody class="bg-info">
        <tr class="center">
          <th scope="row" class="bg-primary">Salada</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Acompanhamento</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Acompanhamento</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Guarnição</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina 1</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina 2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina Vegetariana</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Sobremesa</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Suco</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>

 <div class='clean'></div>

 
 <div class="bs-example" data-example-id="striped-table">
    <table class="table table-bordered ">
      <thead class="bg-primary">
        <tr>
          <th>Janta</th>
          <th class="center">Segunda-feira</th>
          <th class="center">Terça-feira</th>
          <th class="center">Quarta-feira</th>
          <th class="center">Quinta-feira</th>
          <th class="center">Sexta-feira</th>
        </tr>
      </thead>
      <tbody class="bg-info">
        <tr class="center">
          <th scope="row" class="bg-primary">Sopa</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Acompanhamento</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Acompanhamento</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Guarnição</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina 1</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina 2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Proteina Vegetariana</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Sobremesa</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="center">
          <th scope="row" class="bg-primary">Suco</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>

    <b>Horário</b><br>
      Almoço: 11:00 às 14:00<br>
      Janta:  17:30 às 20:00
 Aviso: É necessário comprar o ticket.
 Alunos de cota: 1 refeição ao dia grátis a segunda R$3,00.<br>
 Graduandos/PosGraduandos: R$3,00<br>
 Funcionários e Servidores: R$5,00